html{
font-size: 14pt;
}

p,#w3c{
    text-align: center;
}


#header{
    text-align: center;
}
#puzzlearea{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.sqr{
    width: 90px;
    height: 90px;
    float: left;
    border: solid 5px;
    margin: 0px;
    padding: 0px;
    font-size: 40pt;
    text-align: center;
}

#win{
    margin-top: 50%;
}